html,
body {
    margin: 0px;
}


.main {
    height: 2vh;
    display: flex;
    justify-content: center;
}

.card {
    height: 200vh;
    width: 70%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 14px -9px 19px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 14px -9px 19px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 14px -9px 19px 0px rgba(0, 0, 0, 0.56);
}

.header {
    height: 40vh;
    display: flex;
    justify-content: center;
    border-bottom: solid rgba(182, 162, 162, 0.37) 0.5px;
    background: #F4F5F7;

}

.dp {
    width: 27%;
    margin-top: 10px;
    border-radius: 50%;
    background-image: url(dp.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-left: 4%;
    margin-top: -16%;
}

.name {
    height: 40vh;
    width: 50%;
    margin-left: 26%;
    background-color: #1fc8db;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
    font-size: 40px;
    text-align: left;
    margin-left: 35%;

}

.name-content {
    margin-left: 7%;
    margin-top: 34%;
    line-height: 1;

}

.role {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin-top: -10px;

}

.content {
    display: flex;
}

.left-bar {

    flex: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.right-side {
    flex: 4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.left-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    flex: 1;
    border-bottom: solid rgba(182, 162, 162, 0.37) 2px;
    border-right: solid rgba(182, 162, 162, 0.37) 2px;

    padding: 16px;


}

.lang-logo {
    width: 30%;
    border-radius: 50%;
    background-image: url('Language+Targeting.png');
    background-position: center;
    background-size: cover;
}

.right-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    flex: 1;
    padding: 15px;
}
.blank{
    border-bottom: solid rgba(182, 162, 162, 0.37) 0.5px;
height: 25vh;
}